@charset "UTF-8";
body {
	margin: 1em auto;
	padding: 0;
	font: 14px Raleway, sans-serif;
	background-color: black;
	color: white;
	width: 1150px;
	margin-top: 0;
}
a {
	color: #CCC;
}
a:hover {
	color: white;
}
header {
	position: relative;
	padding-top: 1em;
}
header h1 {
	margin: 0;
}
hr {
    clear:both;
    margin-top: 0.5em;
}

#speedbar {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	margin-top: 0;
}
#speedbar ul,
aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#speedbar li {
	margin: 0;	
	padding: 0.5em 1em;
	float: left;
	display: inline;
}
#speedbar li a {
	text-decoration: none;
}
#speedbar li:hover {
    color: black;
    background-color: #ccc;
}
#speedbar li:hover a {
    color: black;
}
#speedbar .last {
	border-right: none;
}

#prev-next {
	position: absolute;
	top: 5em;
	right: 220px;
	text-align: center;	
}
#prev-next a, #prev-next span {
	padding: 0.25em 0.5em;
	text-decoration: none;
}
#prev-next a:hover {
    color: black;
    background-color: #CCC;
}
#prev-next span {
    color: #888;
}
.control-group {
    margin-top: 0.5em;
}
.textinput, .emailinput {
    width: 30em;
}
.textarea {
    width: 60em;
}
.asteriskField {
    display: none;
}

#main {
	text-align: center;
	width: 950px;
}
#main img {
	padding: 0.5em;
	border: 1px solid #fff;
}
#main.categories {
	width: 100%;
}

#photos {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#photos li {
	margin: 0;	
	padding: 0.5em;
	float: left;
}
#photos img {
	padding: 0.25em;
}
#photos  a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	width: 175px;
	height: 175px;
}
#photos  a * {
    vertical-align: middle;
}
/*\*//*/
#photos  a {
    display: block;
}
#photos  a span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

aside {
	float: right;
	right: 0;
	width: 200px;
}
aside h1 {
	font-size: 1.75em;
	margin-top: 0;
}
aside h2 {
	font-size: 120%;
	margin-bottom: 0.5em;
}
aside img {
	padding: 1px;
	border: 1px solid #ccc;
}
aside img:hover {
    border: 1px solid #fff;
}
#thumbnails {
	text-align: center;
	columns: 2;
	-moz-columns: 2;
	-webkit-columns: 2;
}

footer {
	clear: both;
	font-size: 90%;
	padding-top: 0.5em;
	margin-top: 1em;
}

.catTitle {
	display: table;
	width: 171px;
	height: 171px;
	position: absolute;
	margin: 1px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
}
.galIcone:hover .catTitle {
	visibility: visible;
}
.catTitleCell {
	display:table-cell;
	vertical-align:middle;
	padding: 0.5em;
}

input[type=text], input[type=password], input[type=email], textarea {
	background: #444;
	border: 1px solid #777;
	border-radius: 3px;
	color: white;
}

.required {
	color: red;
}
.success {
	color: green;
	font-weight: bold;
}
.error {
	color: red;
	font-weight: bold;
}
#static_main img {
	float: right;
	padding: 0;
}
#static_main table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
#static_main table td {
    border: 1px solid #ccc;
    padding: 0.5em 0.5em;
}
#static_main table th {
    border: 1px solid #ccc;
    padding: 0.5em 0.5em;
    text-align: left;
    background-color: #ccc;
    color: #000;
}
#static_main table tr:hover {
    background-color: #444;
}

.nofloat {
    float: none !important;
}