{% extends "gallery/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="static_main">
    <h1>Expositions</h1>
	<p><img src="{% static 'gallery/graph/expo_bourbonne_2014.jpg' %}" alt="Exposition au Centre Borvo, automne 2014" title="Exposition au Centre Borvo, automne 2014" /></p>
	<h2>Parures de la nature - du 7 octobre au 26 novembre 2014</h2>
	<h3>Horaires d'ouverture :</h3>
	<ul>
		<li><strong>Du lundi au vendredi</strong> de 9h00 à 12h00 et de 14h00 à 18h00</li>
		<li><strong>Samedis, dimanches et jours fériés</strong> de 10h00 à 12h00 et de 15h00 à 18h00.</li>
	</ul>
	<h3>Adresse</h3>
	<p><strong>Office de tourisme de Bourbonne les Bains</strong><br/>
	Place des bains<br/>
	52400 Bourbonne les Bains</p>
	<p><strong>Téléphone :</strong> 03 25 90 01 71</p>

    <hr/>
	<p><img src="{% static 'gallery/graph/expo_avon_2012.jpg' %}" alt="Expostion à la Maison dans la Vallée, été 2012" title="Expostion à la Maison dans la Vallée, été 2012" /></p>
	<h2>Couleurs Nature - du 26 juin au 1<sup>er</sup> septembre 2012</h2>
	<h3>Adresse</h3>
	<p><strong>Maison dans la vallée</strong><br/>
	1, rue Lola Dommange<br/>
	77210 Avon</p>
	<p><strong>Téléphone :</strong> 01 60 74 91 30</p>
</div>
{% endblock %}
