{% extends "gallery/base.html" %}

{% load staticfiles %}

{% block content %}
<div id="static_main">
	<h1>Couleurs Nature - du 26 juin au 1<sup>er</sup> septembre 2012</h1>
	<p><img src="{% static 'gallery/graph/expo_avon_2012.jpg' %}" alt="Expostions à la Maison dans la Vallée, été 2012" title="Expostions à la Maison dans la Vallée, été 2012" /></p>
	<h2>Horaires d'ouverture :</h2>
	<ul>
		<li><strong>Lundi – mardi – mercredi</strong> de 9h00 à 12h30 et de 13h30 à 17h30</li>
		<li><strong>Jeudi – vendredi</strong> de 9h00 à 12h30 et de 13h30 à 17h00</li>
		<li><strong>Samedi 7 juillet</strong> de 9h00 à 12h30</li>
		<li><strong>Samedi 21 juillet</strong> de 9h00 à 18h00 sans fermeture à midi.</li>
		<li><strong>Fermé les samedi 14 et 28 juillet</strong></li>
		<li><strong>Fermé tous les dimanches de juillet et tous les week-ends d'août.</strong></li>
	</ul>
	<h2>Adresse</h2>
	<p><strong>Maison dans la vallée</strong><br/>
	1, rue Lola Dommange<br/>
	77210 Avon</p>
	<p><strong>Téléphone :</strong> 01 60 74 91 30</p>
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=1+Rue+Lola+Dommange,+Avon,+France&amp;aq=0&amp;oq=1,+rue+Lola+Dommange&amp;sll=37.09024,-95.361328&amp;sspn=58.72842,109.951172&amp;ie=UTF8&amp;hq=&amp;hnear=1+Rue+Lola+Dommange,+77210+Avon,+Seine-Et-Marne,+%C3%8Ele-de-France,+France&amp;t=m&amp;ll=48.411827,2.72727&amp;spn=0.027347,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
	<small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=fr&amp;geocode=&amp;q=1+Rue+Lola+Dommange,+Avon,+France&amp;aq=0&amp;oq=1,+rue+Lola+Dommange&amp;sll=37.09024,-95.361328&amp;sspn=58.72842,109.951172&amp;ie=UTF8&amp;hq=&amp;hnear=1+Rue+Lola+Dommange,+77210+Avon,+Seine-Et-Marne,+%C3%8Ele-de-France,+France&amp;t=m&amp;ll=48.411827,2.72727&amp;spn=0.027347,0.054932&amp;z=14&amp;iwloc=A" style="color:#CCC;text-align:center">Agrandir le plan</a></small>
</div>
{% endblock %}