{% extends "gallery/base.html" %}

{% load thumbnail %}

{% block nav %}
	<div id="prev-next">
		{% if previous_pic %}
			<a id="nav-previous" href="{% url 'picture' previous_pic.id %}" title="Accès à l'image {{ previous_pic.title }}">← Précédente</a>
		{% endif %}
		{% if next_pic %}
			<a id="nav-next" href="{% url 'picture' next_pic.id %}" title="Accès à l'image {{ next_pic.title }}">Suivante →</a>
		{% endif %}
	</div>
{% endblock %}
		
{% block aside %}
	<aside id="sidebar">
		<h1>{{ picture.title }}</h1>
		<p>Publiée le <time datetime="{{ picture.pub_date|date:"c" }}" pubdate="pubdate">{{ picture.pub_date|date:"j E Y" }}</time</p>
		<h2>Cette photo fait partie de<br/>
			<a href="{% url 'category' picture.category.id %}" title="Accès à la catégorie">{{ picture.category.name }}</a>
		</h2>
		<ul id="thumbnails">	<!-- 12 miniatures max (sans les prix) -->
			{% for sidePicture in pictures %}
				<li>
					<a	href="{% url 'picture' sidePicture.id %}" title="Accès à la photo {{ picture.title }}">
						{% thumbnail sidePicture.image "90x90" as im %}
						<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Photo {{ picture.title }}" />
						{% endthumbnail %}
					</a>
				</li>
			{% endfor %}
		</ul>
		<c:if test="${!empty prices}">
			<h2>Tirages d'art</h2>
			<ul>
				<c:forEach items="${prices}" var="price">
					<li>${price.format.name} : <strong>${price.formattedValue}</strong></li>
				</c:forEach>
				<li>Autres formats : <a href="">me contacter</a></li>
			</ul>
		</c:if>
	</aside>
{% endblock %}
		

{% block content %}
	<div id="main">
		<img src="{{ picture.image.url }}" alt="{{ picture.title }}" />
		{% if picture.description %}
		<p>{{ picture.description }}</p>
		{% endif %}
	</div>
{% endblock %}
